.EightBall{
  display: table;
  height:500px;
  width:500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.EightBall-text{
  display: table-cell;
  vertical-align: middle;
  color:white;
  
}